.content {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 1rem;
  justify-content: space-between;
  min-height: 100vh;
  margin: 1rem auto;
  max-width: 1400px;
}

.container-saved-images {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: aquamarine;
  border-radius: 1rem;
}

.container-navigator {
  background-color: #85bdf4;
  height: 100%;
  border-radius: 1rem;
}

.container-images {
  display: grid;
  row-gap: 4rem;
  column-gap: 2rem;
  grid-auto-flow: dense;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  padding: 15px;
}

.container-card {
  display: flex;
  border: none;
  height: 200px;
  width: 200px;
  border-radius: 1em;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5),
            0 5px 8px rgba(0, 0, 0, 0.19);
}
.navigator-header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

@media (max-width:576px) {
  .container-card {
    height: 100px;
    width: 100px;
  }
  .navigator-header h2 {
    font-size: 1rem;
    padding: 0;
  }
  .container-saved-images h2 {
    font-size: 1rem;
  }
  .container-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

